@use "./abstract" as *;
// @use "./pages/index.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white{
    color: $white;
}
.red{
    color: $red;
}
body{
    background-color: $fond;
}
nav{
    @include typo();
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px $x-small $y-small $btn;
    margin-bottom: 2rem;
    ul{ 
        width:100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;

        a{
            text-decoration: none;
            color: $btn;
            font-size: 50px;
        }
    }
}
