$fond:#0F172A;
$fond-card: #1E293B;
$texte:#E5E7EB;
$sous-texte:#9CA3AF;
$autre:#642fc0;
$btn: #F59E0B; 
$white : #FFFFFF;
$red: red;
$black : #000000;

$x-small: 20px;
$y-small:10px;

$border: 20px;
$border-book: 5px;
